.c-btn {
    &__second {
        padding: 0;
        transform: translateX(1px);
        width: 306px;

        background: $second-color;
        border-radius: 28px;
        border: 1px solid $second-color;
        color: $white;
        font-size: 2.4rem;
        line-height: 2.2;
        cursor: pointer;
        letter-spacing: -1px;
        display: flex;
        align-items: center;
        @include sp {
            width: 200px;
            height: 35px;
            font-size: 1.5rem;
            padding-left: 25px;
            letter-spacing: 0.01em;
        }
    }

    &__primary {
        background-image: url("/assets/img/button/img-btn.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 198px;
        height: 40px;
        cursor: pointer;
        color: $white;
        display: block;

        &--text {
            letter-spacing: 3.5px;
            line-height: 3;
            padding-left: 1px;
            text-align: center;
            width: 100%;
            height: auto;
            @include sp {
                font-size: 1.3rem;
                width: 53%;
                margin: 0 auto;
                letter-spacing: 1.2px;
                line-height: 2;
                padding-left: 0;
            }
        }
    }
}
