
.c-footer {
    padding-bottom: 63px;
    @include sp {
        padding-bottom: 58px;
    }

    .c-footer__list {
        display: flex;
        justify-content: space-between;
        margin-top: 112px;
        @include sp { 
            flex-direction: column;
            margin-top: 54px;
        }
    }

    .c-footer__banner {
        @include sp {
            padding-left: 32.5px;
            padding-right: 32.5px;
        }
    }

    .c-footer__bg {
        border-radius: 50px;
        display: block;
        margin: 0 auto;
        @include sp {
            border-radius: 10px;
            height: 250px;
        }

        img {
            @include sp {
                border-radius: 10px;
            }
            border-radius: 50px;

        }
    }

    .c-footer__menu li {
        line-height: 2;
        margin-bottom: -3px;
        letter-spacing: 0.1em;

        &:last-child {
            margin-bottom: 0;
            margin-top: -5px;
            @include sp {
                margin-top: 4px;
            }
        }
        @include sp {
            font-size: 1.3rem;
            font-feature-settings: "palt";
            letter-spacing: 0.01em;
            line-height: 1.75em;
        }
    }

    .c-footer__menu li a {
        letter-spacing: 0.12em;
        margin-left: 1px;
        @include sp {
            font-size: 1.3rem;
            letter-spacing: 0;
        }
    }

    .c-footer__logo {
        position: relative;
        top: 9px;
        @include sp {
            width: 140px;
            display: block;
            margin: 0 auto;
        }
    }

    .c-footer__phone {
        @include sp {
            padding-left: 4px;
            letter-spacing: 0.01em;
        }
    }

    .c-footer__time {
        @include sp {
            padding-left: 5px;
        }
  
    }

    .c-footer__logo {
        @include sp {
            margin-top: 14px;
        }
    }
}
