<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= (typeof title !="undefined" ? title : "Page title" ) %>
  </title>
  {{ meta }}
  <script type="module" src="/_scss/style.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  {{ head }}
</head>

<body>
  <div class="p-leaf">
    <img src="./assets/img/leaf/leaf-top.png" alt="leaf-top" class="p-leaf__top">
    <img src="./assets/img/leaf/leaf-right.png" alt="leaf-right" class="p-leaf__right">
  </div>
  <div class="l-container">
    <%- include('_partials/header'); -%>
      {{ content }}
      <%- include('_partials/footer'); -%>
  </div>

  {{ script }}
  <script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>