<footer class="c-footer" id="c-footer">
  <div class="l-container--w1030">
    <div class="c-footer__banner">
      <picture>
        <source media="(max-width: 768px)" srcset="./assets/img/footer/mobile.png">
        <img class="c-footer__bg img-hauto" src="./assets/img/footer/desktop.jpg" alt="さわやかハッカ油で虫除け対策のイメージ写真">
      </picture>
    </div>
    
    <div class="c-footer__list">
      <div class="c-footer__item">
        <ul class="c-footer__menu">
          <li>
          商品に関するお問い合わせは
          </li>
          <li>
         健栄製薬株式会社
          </li>
          <li>TEL | 
            <span class="is-sp--only">|</span><a href="tel:06-6231-5626" class="c-footer__phone">06-6231-5626</a>　受付時間 | <span class="is-sp--only">|</span><span class="c-footer__time">8:45〜17:30(土日祝日を除く)</span> </li>
        </ul>
      </div>
        <a href="#" class="c-footer__logo">
          <img src="./assets/img/footer/logo-kenei.png" alt="©KENEI" class="img-hauto">
        </a>
    </div>
  </div>

</footer>