<header class="c-header l-container--w1120" id="section_1">
    <div class="c-headersp__toggle">
        <img src="./assets/img/header/icon/iconmenu.png" alt="iconmenu" class="c-headersp__menu">
        <img src="./assets/img/header/icon/iconmenu-close.png" alt="iconmenu" class="c-headersp__close">
    </div>

    <div class="c-headersp__bg">
        <ul class="c-listsp">
            <li class="c-itemsp">
                <a href="#c-uses">トップ</a>
            </li>
            <li class="c-itemsp">
                <a href="#c-pointnew">毎日にハッカ油</a>
            </li>
            <li class="c-itemsp">
                <a href="#c-pointhot">製品情報</a>
            </li>
            <li class="c-itemsp">
                <a href="#c-qa">Q&A</a>
            </li>
            <li class="c-itemsp">
                <a href="#c-col">ハッカ油コラム</a>
            </li>
            <li class="c-itemsp">
                <a href="#c-footer">ハッカ油ムービー</a>
            </li>

        </ul>
    </div>
    <div class="c-header__tab">
        <ul class="c-header__menulist">
            <li class="c-btn__primary  c-header__menuitem">
               <a href="#section_1">トップ</a> 
            </li>
            <li class=" c-btn__primary c-header__menuitem">
               <a href="#section_2">毎日にハッカ油</a> 
            </li>
            <li class=" c-btn__primary c-header__menuitem">
              <a href="#section_3">製品情報</a>  
            </li>
            <li class=" c-btn__primary c-header__menuitem">
               <a href="#section_4">Q&A</a> 
            </li>
    
            <li class=" c-btn__primary c-header__menuitem">
               <a href="#section_5">ハッカ油コラム</a> 
            </li>
            <li class=" c-btn__primary c-header__menuitem">
              <a href="#setion_6">ハッカ油ムービー</a>  
            </li>
        </ul>
    
    </div>
    <section class="c-header__banner">
        <div class="c-header__bannerbg">
            <div class="c-header__bannertext">
                <h1 class="c-header__textheading">
                    <picture>
                        <source media="(max-width:767px)" srcset="./assets/img/banner/text/mobile.png">
                        <img src="./assets/img/banner/text/desktop.png" alt="text-banner" class="">
                    </picture>
                </h1>
                <p class="c-header__texttop"> Mentha oil</p>
                <p class="c-header__textmain">ハッカ油は、毎日の暮らしを豊かにする</p>
                <p class="c-header__textbottom">魔法のしずく</p>
                <a href="#" class="c-header__textbottom c-btn__second"> <span>ハ ッ カ</span><span class="">？</span><span>ミ
                        ン ト</span>？</a>
            </div>
        </div>
        <!-- <div class="c-header__animation">
            <img src="./assets/img/drop/drop-1.png" alt="drop-1" class="c-animation c-animation__drop1">
            <img src="./assets/img/drop/drop-2.png" alt="drop-2" class="c-animation c-animation__drop2">
            <img src="./assets/img/drop/drop-3.png" alt="drop-3" class="c-animation c-animation__drop3">
            <img src="./assets/img/drop/drop-4.png" alt="drop-4" class="c-animation c-animation__drop4">
            <img src="./assets/img/drop/drop-5.png" alt="drop-5" class="c-animation c-animation__drop5">
            <img src="./assets/img/drop/drop-6.png" alt="drop-6" class="c-animation c-animation__drop6">
        </div> -->
    </section>
</header>